@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');

ion-header {
    ion-toolbar {
        text-align: center;

        ion-title {
            font-family: 'Playfair Display', serif;  
            font-size: 1.7em;
        }
    }
}

.drinks-items {
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    cursor: pointer;
}

.create-drink {
    opacity: .7; 
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    cursor: pointer;

    ion-card-content {
        color:grey; font-size: 256%;
    }
}